h1, h2, h3 {
    font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;
	padding: 0.5em;
}

p {
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;
	padding: 0.5em;
}

ul {
    font-family: Comic Sans MS, Comic Sans, cursive;
	text-align: center;
	padding: 0.5em;
    list-style-type: none;
}

body {
	background-color: #26d8da;
	color: #000000;
	border: 2.5px;
	border-style: double;
	margin-top: 0.2em;
	margin-right: 18em;
	margin-left: 18em;
	margin-bottom: 0em;
}

button {
    display: block;
    margin: auto;
}

footer {
	font-size: 12px;
	text-align: center;
	padding-top: 3em;
}