{% extends "adventure/base.html" %} <!-- Uses The Base HTML Template -->

{% load static %}

{% block title %}{{ scenario.title }}{% endblock %} <!-- Name of the Home Page as "Adventure" -->

<!-- Body Content for This Page -->
{% block content %}

    <h1>{{ scenario.title }}</h1>

    <p>{{ scenario.desc }}</p>

    <ul>
        {% for decision in decisions %}
            <li><a href="{% url 'adventure:jump' decision.next_scenario.id %}" data-choice>{{ decision.choice }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'adventure/game.js' %}"></script>
{% endblock %}