{% extends "adventure/base.html" %} <!-- Uses The Base HTML Template -->

{% block title %}Index{% endblock %} <!-- Name of the Home Page as "Index" -->

{% load static %}

<!-- Body Content for This Page -->
{% block content %}

    <h1>Adventure Game</h1>
    <!--Checks if the user is logged in to display welcome message-->
    {% if user.is_authenticated %}

        <h2>Welcome {{ user.username }}!</h2>

    {% endif %}

    <h2>Plot Summary</h2>

    <p>
        The story is about Starla, who is the main character and she is trying to figure out who she is. Starla gets stuck in a
        world of wonder with different areas like a forest, desert, caves, etc. It seems she is not alone, and she does not know how
        she got stuck in this weird world. The goal is to escape and find out the truth, as well how Starla got trapped here in the first place,
        and maybe even learn what this all means for Starla.
    </p>

    <p>By: <a href="{% url 'adventure:profile' slug='kalina_kochanowski' %}">Kalina Kochanowski</a></p>

        <!--Checks if the user is logged in to be able to play the game-->
        <!--If not logged in, gives the user ability to login-->
    {% if user.is_authenticated %}

        <h3><a href="{% url 'adventure:game' scenario_id=1 %}">Adventure Game</a></h3>

        <p><a href="{% url 'adventure:logout' %}">Logout</a></p>

    {% else %}

        <p><a href="{% url 'adventure:login' %}">Login to Start Your Adventure</a></p>

    {% endif %}

{% endblock %}